<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
</head>
<body>

<h1 th:text="'My Recipes'">Title</h1>

</body>
</html>
